{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
        <form method="post" class="mt-5">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Jūs jau esate prisijungę kaip {{ app.user.username }}, <a href="{{ path('app_logout') }}">Atsijungti</a>
                </div>
            {% endif %}

            <h1 class="h1 mb-3 font-weight-normal">Prašau prisijungti!</h1>
            <h2 class="h2 mb-3 font-weight-normal">Neturi paskyros? <a href="{{ path('app_register') }}">Užsiregistruok!</a></h2>
            <label for="inputUsername">Slapyvardis</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control transparent" required autofocus>
            <label for="inputPassword">Slaptažodis</label>
            <input type="password" name="password" id="inputPassword" class="form-control transparent" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
            #}
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Prisiminti mane
                    </label>
                </div>


            <button class="btn btn-lg btn-primary" type="submit">
                Prisijungti
            </button>
        </form>
{% endblock %}
