{% extends 'base.html.twig' %}

{% block title %}Registruokis į klausimanija online pas mus - Quizzer{% endblock %}

{% block body %}

        <div class="">
            <h1 class="mt-5">Prisiregistruokite prie bene didžiausios loginių klausimų žaidiminės svetainės!</h1>

            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username , {'attr': {'class': 'form-control transparent'}}) }}
            {{ form_row(registrationForm.plainPassword , {'attr': {'class': 'form-control transparent'}}) }}
            {{ form_row(registrationForm.email , {'attr': {'class': 'form-control transparent'}}) }}

            <div class="mt-3">
                <button class="btn btn-primary">Registruotis</button>
                <a href="{{ path('connect_google_start') }}"><img class="rounded" src="{{ asset('img/google-login.png') }}" alt="google login button"></a>
                <a href="{{ path('connect_facebook_start') }}"><img class="rounded" src="{{ asset('img/facebook-login.png') }}" alt="facebook login button"></a>
            </div>
            {{ form_end(registrationForm) }}
        </div>
{% endblock %}
