{% extends 'base.html.twig' %}

{% block title %}Quizzer - klausimanijos žaidimo patys geriausi{% endblock %}

{% block body %}
    <div class="card transparent mt-5">
        <div class="card-body">
            <h2 class="card-title">Visų laikų daugiausiai klausimų atsakę nariai!</h2>
            <p class="card-text">Ypač didžiuojames savo pačiais aktyviausiais nariais!</p>
            <ul class="list-group">
                {% for user in globalTopUsers %}
                     <li class="list-group-item d-flex justify-content-between align-items-center transparent">
                         <a href="{{ path('app_view_other_profile', { 'slug': user.user_id }) }}">{{ user.username }}</a>
                         <span class="badge badge-primary badge-pill">{{ user.count }}</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 pt-5">
            <div class="card transparent">
                <div class="card-body">
                    <h5 class="card-title">Paskutinės savaitės aktyviausi nariai!</h5>
                    {% for user in weeklyTopUsers %}
                        <li class="list-group-item d-flex justify-content-between align-items-center transparent">
                            <a href="{{ path('app_view_other_profile', { 'slug': user.user_id }) }}">{{ user.username }}</a>
                            <span class="badge badge-primary badge-pill">{{ user.count }}</span></li>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-6 pt-5">
            <div class="card transparent">
                <div class="card-body">
                    <h5 class="card-title">Paskutinio mėnesio aktyviausi nariai!</h5>
                    {% for user in monthlyTopUsers %}
                        <li class="list-group-item d-flex justify-content-between align-items-center transparent">
                            <a href="{{ path('app_view_other_profile', { 'slug': user.user_id }) }}">{{ user.username }}</a>
                            <span class="badge badge-primary badge-pill">{{ user.count }}</span></li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
