{% extends 'base.html.twig' %}

{% block title %}Patys aktyviausi loginių klausimų nugalėtojai - Quizzer{% endblock %}
{% block description %}Įdomių, suktų bei kartais juokingų klausimų nugalėtojų sąrašas. Į sąrašą patenka tik patys aktyviausi ir daugiausiai teisingai atsakę mūsų nariai.{% endblock %}

{% block body %}
    <div class="card transparent mt-5">
        <div class="card-body">
            <h1 class="card-title">Visų laikų daugiausiai klausimų atsakę nariai! - The Quizzer</h1>
            <p class="card-text">Ypač didžiuojames savo pačiais aktyviausiais nariais!</p>
            <p class="card-text">Iš viso atsakyti klausimai - <b>{{ allQuestionAnswersCount }}</b></p>
            <ul class="list-group">
                {% for user in globalTopUsers %}
                     <li class="list-group-item d-flex justify-content-between align-items-center transparent">
                         <a href="{{ path('app_view_other_profile', { 'slug': user.user_id }) }}">{{ user.username }}</a>
                         <span class="badge badge-primary badge-pill">{{ user.count }}</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        {% if weeklyTopUsers|length > 0 %}
            <div class="col-sm-6 pt-5">
                <div class="card transparent">
                    <div class="card-body">
                        <h5 class="card-title">Paskutinės savaitės aktyviausi nariai!</h5>
                        {% for user in weeklyTopUsers %}
                            <li class="list-group-item d-flex justify-content-between align-items-center transparent">
                                <a href="{{ path('app_view_other_profile', { 'slug': user.user_id }) }}">{{ user.username }}</a>
                                <span class="badge badge-primary badge-pill">{{ user.count }}</span></li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if monthlyTopUsers|length > 0 %}
            <div class="col-sm-6 pt-5">
                <div class="card transparent">
                    <div class="card-body">
                        <h5 class="card-title">Paskutinio mėnesio aktyviausi nariai!</h5>
                        {% for user in monthlyTopUsers %}
                            <li class="list-group-item d-flex justify-content-between align-items-center transparent">
                                <a href="{{ path('app_view_other_profile', { 'slug': user.user_id }) }}">{{ user.username }}</a>
                                <span class="badge badge-primary badge-pill">{{ user.count }}</span></li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
