<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="SUSIGALVOT,SUSIGALVOT,SUSIGALVOT">
        <meta name="description" content="{% block description %}Quizzer.lt{% endblock %}">
        <meta name="author" content="Valentinas Kasteckis">
        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/ico" sizes="16x16">
        <link rel="stylesheet" href="{{ asset('style/bootstrap.min.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('style/stylesheet.css') }}">
        <style>
            body {
                background: url({{ asset('img/background.jpg') }}) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                background-size: cover;
                -o-background-size: cover;
            }
        </style>
        <title>{% block title %}Quizzer.lt{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(128,191,243, 0.2);">
        <a class="navbar-brand" href="{{ path('app_home') }}">The Quizzer!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_home') }}">Namai</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_results') }}">Rezultatai</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_faq') }}">D.U.K.</a>
                </li>
                {% if app.user %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_profile') }}">Profilis</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_logout') }}">Atsijungti</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_login') }}">Prisijungti</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_register') }}">Registruotis</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
